:root {
    --dark: #111;
    --dark-secondary: #333;
    --dark-overlay: #0004;
    --dark-link: cornflowerblue;
    --dark-link-visited: mediumslateblue;

    --light: #bbb;
    --light-secondary: #999;
    --light-overlay: #fff4;
    --light-link: #00e;
    --light-link-visited: #518;

    --foreground: var(--dark);
    --foreground-secondary: var(--dark-secondary);
    --background: var(--light);
    --background-secondary: var(--light-secondary);
    --background-overlay: var(--light-overlay);
    --foreground-overlay: var(--dark-overlay);
    --link: var(--light-link);
    --link-visited: var(--light-link-visited);
}

* {
    box-sizing: border-box;
}

body {
    /*loading*/
    overflow: hidden;
    /**/
    background-color: var(--background);
    color: var(--foreground);

    margin: 0;
    transition: background-color 0.3s;
}

#hidden-content {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#page-container {
    min-height: 100vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

header,
main,
footer {
    transition: color 0.3s;
    background-color: var(--background);
    transition: background-color 0.3s;

}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

main,
footer {
    padding-bottom: 2em;
    align-self: center;

    min-width: 100%;
}

footer {
    bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-wrap: balance;
}

p {
    margin: 0 auto;
    text-align: justify;
    text-indent: 4ch;
    hyphens: auto;
    line-height: 1.5em;
}

a {
    color:var(--link);
    transition: color 0.3s;
}

a:visited {
    color:var(--link-visited);
}

button {
    background: var(--background);
    color: var(--foreground);
    border: 1px solid var(--foreground);
    padding: .25em;
    cursor: pointer;
}

.details {
    hyphens: unset;
    text-align: left;
    padding: 1em 0;
    margin: 0;
    text-indent: unset;
}

.focus {
    hyphens: unset;
    text-indent: unset;
    text-align: center;
    padding-bottom: 1.5em;
}

/*focus after h*/
h1+.focus,
h2+.focus,
h3+.focus {
    padding-top: -1em;
}

/*button focus*/
button.focus {
    padding: .25em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border-color: var(--foreground-secondary);
    margin: 0;
}

table {
    border-collapse: collapse;
    min-width: 100%;
    text-align: center;
}

td {
    padding: 10px;
    width: 50%;
}

tr {
    border-bottom: solid var(--foreground-secondary);
}

tr:last-child {
    border-bottom: none;
}

/*align non-text elements horizontally*/
td>* {
    /*for child column orientation*/
    margin: 0 auto;
    /**/

    /*for child row orientation* /
    display: inline-block;
    /**/
}

.center-childs>* {
    margin: 0 auto;
}

#page-path {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: unset;
    hyphens: none;
    word-break: break-all;
    line-height: 1em;
    padding: 1em 0;

}

#page-path a {
    color: inherit !important;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--foreground-secondary);
    text-decoration-thickness: 1px;
}

#page-path a:hover {
    color: inherit;
    background-color: var(--background-secondary);
    text-decoration: none;
}

#page-path a:visited {
    color: inherit !important;
}

#load-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    color: var(--light);
    background: var(--dark);

    padding: 1em;
    display: flex;
    flex-direction: column;

    transition: background-color 0.3s, color 0.3s;
}

#load-screen p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1em;
    word-break: break-all;
    white-space: break-spaces;

    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 1em;

    text-indent: unset;
    hyphens: none;
    overflow: hidden;
}

#unity-canvas {
    width: 96vw;
    height: 60vw;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

#state-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.toggle {
    display: flex;
}

.toggle label {
    /*change toogles to radial button or div*/
    padding: .25em;
    cursor: pointer;
    border: 1px solid var(--foreground);
    margin: 0;
}

#dark:checked~.toggle label[for="dark"],
#device:checked~.toggle label[for="device"],
#light:checked~.toggle label[for="light"],
#keys:checked~.toggle label[for="keys"],
#touch:checked~.toggle label[for="touch"],
#classic:checked~.toggle label[for="classic"],
#explorer:checked~.toggle label[for="explorer"],
#pt:checked~.toggle label[for="pt"],
#en:checked~.toggle label[for="en"] {
    background-color: var(--foreground);
    color: var(--background);
}

/* region theme */
html:has(#dark:checked) {
    --foreground: var(--light);
    --foreground-secondary: var(--light-secondary);
    --background: var(--dark);
    --background-secondary: var(--dark-secondary);
    --background-overlay: var(--dark-overlay);
    --foreground-overlay: var(--light-overlay);
    --link: var(--dark-link);
    --link-visited: var(--dark-link-visited);
}

@media (prefers-color-scheme: dark) {
    html:has(#device:checked) {
        --foreground: var(--light);
        --foreground-secondary: var(--light-secondary);
        --background: var(--dark);
        --background-secondary: var(--dark-secondary);
        --background-overlay: var(--dark-overlay);
        --foreground-overlay: var(--light-overlay);
        --link: var(--dark-link);
        --link-visited: var(--dark-link-visited);
    }
}

/* endregion theme */

.pt,
.en {
    display: none;
}

html[lang="pt"] .pt {
    display: block;
}

html[lang="en"] .en {
    display: block;
}

.touch-controls,
.keyboard-controls {
    width: fit-content;
    display: none;
}

html:has(#touch:checked) {
    .touch-controls {
        display: block;
    }
}

html:has(#keys:checked) {
    .keyboard-controls {
        display: block;
    }
}

.classic-mode,
.explorer-mode {
    width: fit-content;
    display: none;
}

html:has(#classic:checked) {
    .classic-mode {
        display: block;
    }

    tr.explorer-mode {
        border-bottom: none;
    }
}

html:has(#explorer:checked) {
    .explorer-mode {
        display: block;
    }

    tr.explorer-mode {
        display: table-row;

    }
}

@media (min-width: 700px) {

    main,
    footer {
        min-width: 70ch;
        width: 70ch;
        max-width: 70ch;
    }

    #unity-canvas {
        width: min(96vh, 96vw);
        height: min(60vh, 60vw);
        margin-top: min(2vh, 2vw);
        position: relative;
        right: calc((min(100vh, 100vw) - 70ch) / 2 - min(2vh, 2vw));
    }
}