:root {
    --dark: rgb(0, 0, 0);
    --dark-seconday: rgb(50, 50, 50);
    --light: rgb(200, 200, 200);
    --light-secondary: rgb(150, 150, 150);
    --dark-link: cornflowerblue;
    --dark-link-visited: mediumslateblue;
}

* {
    box-sizing: border-box;
}

body {
    /*loading*/
    overflow: hidden;
    /**/

    margin: 0;
    background-color: var(--light);
    color: var(--dark);
    transition: background-color 0.3s;
}

#hidden-content {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#page-container {
    min-height: 100vh;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-right: 1em;
}

header,
main,
footer {
    transition: color 0.3s;
    background-color: inherit;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
}

main,
footer {
    padding-bottom: 2em;
    align-self: center;

    min-width: 100%;
}

footer {
    bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    text-wrap: balance;
}

p {
    margin: 0 auto;
    text-align: justify;
    text-indent: 4ch;
    hyphens: auto;
    line-height: 1.5em;
}

a {
    transition: color 0.3s;
}

.details {
    hyphens: unset;
    text-align: left;
    padding: 1em 0;
    margin: 0;
    text-indent: unset;
}

.focus {
    hyphens: unset;
    text-indent: unset;
    text-align: center;
    padding-bottom: 1.5em;
}

h1+.focus,
h2+.focus,
h3+.focus {
    padding-top: -1em;
}

#state-form {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
}

.toggle {
    display: flex;
}

.toggle label {
    /*change toogles to radial button or div*/
    padding: .25em;
    cursor: pointer;
    border: 1px solid var(--dark);
    margin: 0;
}

button {
    background: var(--dark-secondary);
    color: var(--light);
}

hr {
    border-color: var(--light-secondary);
    margin: 0;
}

tr {
    border-bottom: solid var(--light-secondary);
}

tr:last-child {
    border-bottom: none;
}

#page-path {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-indent: unset;
    hyphens: none;
    word-break: break-all;
    line-height: 1em;
    padding: 1em 0;
}

#page-path a {
    color: inherit !important;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--light-secondary);
    text-decoration-thickness: 1px;
}

#page-path a:hover {
    color: inherit;
    background-color: var(--dark-secondary);
    text-decoration: none;
}

#page-path a:visited {
    color: inherit !important;
}

#load-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;

    color: var(--light);
    background: var(--dark);

    padding: 1em;
    display: flex;
    flex-direction: column;

    transition: background-color 0.3s, color 0.3s;
}

#load-screen p {
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1em;
    word-break: break-all;
    white-space: break-spaces;

    margin-top: 0;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0;
    padding-bottom: 1em;

    text-indent: unset;
    hyphens: none;
    overflow: hidden;

}

#unity-canvas {
    width: 96vw;
    height: 60vw;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
}

/* region theme */
#dark:checked~.toggle label[for="dark"] {
    background-color: var(--light);
    color: var(--dark);
}

#light:checked~.toggle label[for="light"],
#device:checked~.toggle label[for="device"],
#pt:checked~.toggle label[for="pt"],
#en:checked~.toggle label[for="en"] {
    background-color: var(--dark);
    color: var(--light);
}

html:has(#dark:checked) {
    body {
        color: var(--light);
        background-color: var(--dark);
    }

    a {
        color: var(--dark-link);
    }

    a:visited {
        color: var(--dark-link-visited);
    }

    #page-path a {
        text-decoration-color: var(--dark-secondary);
    }

    #page-path a:hover {
        background: var(--light-seconday);
    }

    .toggle label {
        border: 1px solid var(--light);
    }

    hr {
        border-color: var(--dark-secondary);
    }
    tr {
        border-bottom: solid var(--dark-secondary);
    }

    button {
        background: var(--light-secondary);
        color: var(--dark);
    }

    #device:checked~.toggle label[for="device"],
    #pt:checked~.toggle label[for="pt"],
    #en:checked~.toggle label[for="en"] {
        background-color: var(--light);
        color: var(--dark);
    }
}

@media (prefers-color-scheme: dark) {
    html:has(#device:checked) {
        body {
            color: var(--light);
            background-color: var(--dark);
        }

        a {
            color: var(--dark-link);
        }

        a:visited {
            color: var(--dark-link-visited);
        }

        #page-path a {
            text-decoration-color: var(--dark-secondary);
        }

        #page-path a:hover {
            background: var(--light-seconday);
        }

        .toggle label {
            border: 1px solid var(--light);
        }

        hr {
            border-color: var(--light-secondary);
        }
        tr {
            border-bottom: solid var(--dark-secondary);
        }

        button {
            background: var(--light-secondary);
            color: var(--dark);
        }

        #device:checked~.toggle label[for="device"],
        #pt:checked~.toggle label[for="pt"],
        #en:checked~.toggle label[for="en"] {
            background-color: var(--light);
            color: var(--dark);
        }
    }
}

/* endregion theme */

.pt,
.en {
    display: none;
}

html[lang="pt"] .pt {
    display: block;
}

html[lang="en"] .en {
    display: block;
}

@media (min-width: 600px) {

    main,
    footer {
        min-width: 70ch;
        width: 70ch;
        max-width: 70ch;
    }

    #unity-canvas {
        width: min(96vh, 96vw);
        height: min(60vh, 60vw);
        margin-top: min(2vh, 2vw);
        position: relative;
        right: calc((min(100vh, 100vw) - 70ch) / 2 - min(2vh, 2vw));
    }
}