@media print {
    @page {
        size: A4;
        margin: 20mm;
    }
    body {
        background-color: white;
        color: black;
    }
    a {
        text-decoration: none;
    }
    a, a:visited {
        color: black !important;
    }
    .no-print {
        display: none;
    }
}