:root {
    --dark: black;
    --light: gray;
    --dark-link: cornflowerblue;
    --dark-link-visited: mediumslateblue;
}

#load-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;

    color: var(--light);
    background: var(--dark);
    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    transition: background-color 0.3s, color 0.3s;
}

body {
    /*loading*/
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-wrap: balance;
}

p {
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    text-indent: 4ch;
    hyphens: auto;
    line-height: 1.5em;
}

.details {
    hyphens: unset;
    text-align: left;
}

.focus {
    hyphens: unset;
    text-indent: unset;
    text-align: center;
    margin-bottom: 1.5em;
}

h1 + .focus, h2 + .focus, h3 + .focus {
    margin-top: -1em;  
}

.state-form {
    display: flex;
    justify-content: space-between;
}

.toggle {
    display: flex;
    margin-top: 20px;
}

.toggle label {
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid var(--dark);
    margin: 0 5px;
}

#dark:checked ~ .toggle label[for="dark"] {
    background-color: var(--light);
    color: var(--dark);
}

#light:checked ~ .toggle label[for="light"],
#device:checked ~ .toggle label[for="device"],
#pt:checked ~ .toggle label[for="pt"],
#en:checked ~ .toggle label[for="en"] {
    background-color: var(--dark);
    color: var(--light);
}

html:has(#dark:checked) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }

    a {
        color: var(--dark-link);
    }

    a:visited {
        color: var(--dark-link-visited);
    }

    .toggle label {
        border: 1px solid var(--light);
    }

    #device:checked ~ .toggle label[for="device"],
    #pt:checked ~ .toggle label[for="pt"],
    #en:checked ~ .toggle label[for="en"] 
    {
        background-color: var(--light);
        color: var(--dark);
    }
}

@media (prefers-color-scheme: dark) {
    html:has(#device:checked) {
        body {
            background-color: var(--dark);
            color: var(--light);
        }

        a {
            color: var(--dark-link);
        }

        a:visited {
            color: var(--dark-link-visited);
        }

        .toggle label {
             border: 1px solid var(--light);
        }

        #device:checked ~ .toggle label[for="device"],
        #pt:checked ~ .toggle label[for="pt"],
        #en:checked ~ .toggle label[for="en"]  {
             background-color: var(--light);
             color: var(--dark);
        }
    }
}

.pt, .en{
    display: none;
}

html[lang="pt"] .pt {
    display: block;
}

html[lang="en"] .en{
    display: block;
}

@media (min-width: 768px) {
    p {
        width: 70ch;
    }
}
