@media print {
    @page {
        size: A4;
        margin: 20mm;
    }
    body {
        background-color: white;
        color: black;
    }
    a {
        text-decoration: none;
    }
    a:link, a:visited, a:active, a:hover {
        color: black;
    }
    .no-print {
        display: none;
    }
}