:root {
    --dark: black;
    --light: gray;
    --dark-link: cornflowerblue;
    --dark-link-visited: darkslateblue;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark);
        color: var(--light);
    }

    a {
        color: var(--dark-link);
    }

    a:visited {
        color: var(--dark-link-visited);
    }
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

@media (min-width: 768px) {
    p {
        width: 50%; 
        margin: 0 auto;
    }
}
