:root {
    --dark: black;
    --light: gray;
    --dark-link: cornflowerblue;
    --dark-link-visited: darkslateblue;
}

body {
    transition: background-color 0.3s, color 0.3s;
}

.theme-toggle {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.theme-toggle label {
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 0 5px;
}

html:has(#dark:checked) {
    body {
        background-color: var(--dark);
        text-color: var(--light);
    }

    a {
        color: var(--dark-link);
    }

    a:visited {
        color: var(--dark-link-visited);
    }
}

@media (prefers-color-scheme: dark) {
    html:has(#device:checked) {
        body {
            background-color: var(--dark);
            color: var(--light);
        }

        a {
            color: var(--dark-link);
        }

        a:visited {
            color: var(--dark-link-visited);
        }
    }
}


h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

@media (min-width: 768px) {
    p {
        width: 50%; 
        margin: 0 auto;
    }
}
